html {
      box-sizing: border-box;
      background:#ffc600;
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
    }
    body {
      margin: 0;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }

    .panels {
      min-height:100vh;
      overflow: hidden;
      display: flex;
    }

    .panel {
      background:#6B0F9C;
      box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
      color:white;
      text-align: center;
      align-items:center;
      /* Safari transitionend event.propertyName === flex */
      /* Chrome + FF transitionend event.propertyName === flex-grow */
      transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
      font-size: 20px;
      background-size:cover;
      background-position:center;
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }


    .panel1 { background-image:url(http://wallpapercave.com/wp/HuO61XW.jpg); }
    .panel2 { background-image:url(http://www.wallcoo.net/sport/football%20competition/wallpapers/1024x768/%5Bwallcoo.com%5D_football_picture_EA19008.jpg); }
    .panel3 { background-image:url(http://www.wallcoo.net/sport/football%20competition/wallpapers/1024x768/%5Bwallcoo.com%5D_football_picture_EA19006.jpg); }
    .panel4 { background-image:url(https://s-media-cache-ak0.pinimg.com/originals/d2/52/be/d252be9c70a3f2c41aa47f7cfeff8519.jpg); }
    .panel5 { background-image:url(http://www.wallcoo.net/sport/Football%20Competition/wallpapers/1024x768/%5Bwallcoo.com%5D_football_picture_EA19020.jpg); }

    /* Flex Items */
    .panel > * {
      margin:0;
      width: 100%;
      transition:transform 0.5s;
      flex: 1 0 auto;
      display:flex;
      justify-content: center;
      align-items: center;
    }

    .panel > *:first-child { transform: translateY(-100%); }
    .panel.open-active > *:first-child { transform: translateY(0); }
    .panel > *:last-child { transform: translateY(100%); }
    .panel.open-active > *:last-child { transform: translateY(0); }

    .panel p {
      text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
    }
    .panel p:nth-child(2) {
      font-size: 4em;
    }

    .panel.open {
      flex: 5;
      font-size:40px;
    }

    .cta {
      color:white;
      text-decoration: none;
    }

    #button {
      border: 2px solid black;
        }
  </style>


  <div class="panels">
    <div class="panel panel1">
      
      <p>Seniorzy</p>
      <div id="button">
        Kliknij, żeby przejść dalej
      </div>
    </div>
    <div class="panel panel2">
      <p>Give</p>
      <p>Take</p>
      <p>Receive</p>
    </div>
    <div class="panel panel3">
      <p>Experience</p>
      <p>It</p>
      <p>Today</p>
    </div>
    <div class="panel panel4">
      <p>Give</p>
      <p>All</p>
      <p>You can</p>
    </div>
    <div class="panel panel5">
      <p>Life</p>
      <p>In</p>
      <p>Motion</p>
    </div>

  </div>
